<div *ngIf="myLocationWeather" class="day">
  <div class="center">
    <span class="title">Mijn locatie</span>
    <div class="img">
      <img src="http://weather.omgez911.com/icons/{{ myLocationWeather.icon }}.png" alt="">
    </div>
    <div class="content">
      <h1>{{ myLocationWeather.cityName }}</h1>
      <h2>{{ myLocationWeather.temp }}&deg;C</h2>
    </div>
  </div>
</div>

<!--<form (ngSubmit)="onSubmit(form)" #form="ngForm">-->
  <!--<input type="text" ngModel name="cityName" placeholder="Name of the city">-->
  <!--<button name="button">search</button>-->
<!--</form>-->


