.day {
    background-color: rgba(255, 255, 255, 0.6);
    height: 170px;
    margin: 40px 25px;
}

.day .center {
    padding: 20px;
}

.day .title {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.day .img {
    float: left;
    width: 125px;
}

.day .img img {
    width: 100%;
}

.day .content {
    float: left;
}

.day h1,
.day h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.day h1 {
    font-size: 24px;
}

.day h2 {
    font-size: 18px;
}
